/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.errorText {
    font-size: 12px;
    color: #b80808;
    font-weight: 500;
}
input.disabled {
    opacity: .5;
}
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.teamBox {
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #ccc;
    cursor: pointer;
    display: flex;
}
.teamBox:hover {
    box-shadow: 0px 0px 4px #ccc;
}
.imgContainer {
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
}